openapi: 3.0.1
info:
  title: Account API
  description: 사용자 정보와 토큰을 관리하는 API 입니다
  version: 0.0.1
servers:
- url: https://api.odlab.kr
tags: []
paths:
  /accounts:
    get:
      tags:
      - Account
      summary: 사용자 정보 조회 API
      description: 인증토큰으로 사용자 정보를 조회하는 API 입니다.
      operationId: "[find-account-info] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test-success-token
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[find-account-info] 조회된 사용자 정보 없음':
                  value: |-
                    {
                      "httpStatus" : 404,
                      "message" : "NOT_FOUND",
                      "data" : {
                        "errorCode" : 2001,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[find-account-info] 유효하지 않은 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 3001,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] find-account-info"
              examples:
                '[find-account-info] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "id" : 1,
                        "email" : "test@google.com",
                        "username" : "od",
                        "userTel" : "01012341234",
                        "address" : "서울특별시 송파구",
                        "roles" : [ "ROLE_CUSTOMER" ],
                        "regDate" : "20241212"
                      }
                    }
    put:
      tags:
      - Account
      summary: 사용자 수정 API
      description: 사용자 정보를 수정하는 API 입니다. <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상
        테스트가 가능합니다. <br>(요청 헤더에 인증 토큰을 입력하여 테스트하지 않습니다)
      operationId: "[update-account] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] update-account"
            examples:
              '[update-account] success':
                value: |-
                  {
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "username" : "od",
                    "userTel" : "01022222323",
                    "address" : "서울시 강남구"
                  }
              '[update-account] 유효하지 않은 토큰 입력':
                value: |-
                  {
                    "password" : "111",
                    "passwordCheck" : "111",
                    "username" : "od",
                    "userTel" : "01012341234",
                    "address" : "서울시 강남구"
                  }
              '[update-account] 비밀번호와 비밀번호 확인 불일치':
                value: |-
                  {
                    "password" : "1234",
                    "passwordCheck" : "12345",
                    "username" : "od",
                    "userTel" : "01022222323",
                    "address" : "서울시 강남구"
                  }
              '[update-account] 조회된 사용자 정보 없음':
                value: |-
                  {
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "username" : "od",
                    "userTel" : "01012341234",
                    "address" : "서울시 강남구"
                  }
              '[update-account] 유효하지 않은 전화번호 형식 입력':
                value: |-
                  {
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "username" : "od",
                    "userTel" : "010123",
                    "address" : "서울시 강남구"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] update-account"
              examples:
                '[update-account] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "updateYn" : "Y",
                        "updateList" : [ "username" ]
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[update-account] 유효하지 않은 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 3001,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[update-account] 비밀번호와 비밀번호 확인 불일치':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "비밀번호와 비밀번호 확인이 일치하지 않습니다."
                      }
                    }
                '[update-account] 유효하지 않은 전화번호 형식 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "올바른 전화번호 형식이 아닙니다."
                      }
                    }
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[update-account] 조회된 사용자 정보 없음':
                  value: |-
                    {
                      "httpStatus" : 404,
                      "message" : "NOT_FOUND",
                      "data" : {
                        "errorCode" : 2001,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
    post:
      tags:
      - Account
      summary: 사용자 등록 API
      description: 사용자를 등록하는 API 입니다.
      operationId: "[register-account] "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] register-account"
            examples:
              '[register-account] 비밀번호 미입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "",
                    "passwordCheck" : "1234",
                    "roles" : [ "ROLE_CUSTOMER" ],
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
              '[register-account] 권한 미입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "roles" : null,
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
              '[register-account] 유효하지 않는 권한 입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "roles" : [ "ERROR" ],
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
              '[register-account] 비밀번호 확인 미입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234",
                    "passwordCheck" : "",
                    "roles" : [ "ROLE_CUSTOMER" ],
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
              '[register-account] 유효하지 않는 전화번호 패턴 입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "roles" : [ "ROLE_CUSTOMER" ],
                    "username" : "od",
                    "userTel" : "111",
                    "address" : "서울시 강남구"
                  }
              '[register-account] success':
                value: |-
                  {
                    "email" : "od@test.com",
                    "password" : "1234",
                    "passwordCheck" : "1234",
                    "roles" : [ "ROLE_CUSTOMER" ],
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
              '[register-account] 비밀번호와 비밀번호 확인 미일치':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234",
                    "passwordCheck" : "12345",
                    "roles" : [ "ROLE_CUSTOMER" ],
                    "username" : "od",
                    "userTel" : "01012345678",
                    "address" : "서울시 강남구"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[register-account] 비밀번호 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "비밀번호는 필수값 입니다."
                      }
                    }
                '[register-account] 권한 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "권한은 필수값 입니다."
                      }
                    }
                '[register-account] 유효하지 않는 권한 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "유효하지 않은 권한 입니다"
                      }
                    }
                '[register-account] 비밀번호 확인 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "비밀번호 확인은 필수값 입니다."
                      }
                    }
                '[register-account] 유효하지 않는 전화번호 패턴 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "올바른 전화번호 형식이 아닙니다."
                      }
                    }
                '[register-account] 비밀번호와 비밀번호 확인 미일치':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "비밀번호와 비밀번호 확인이 일치하지 않습니다."
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] register-account"
              examples:
                '[register-account] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "accessToken" : "accessToken",
                        "refreshToken" : "refreshToken"
                      }
                    }
    delete:
      tags:
      - Account
      summary: 사용자 정보 삭제 API
      description: 사용자를 삭제하는 API 입니다. <br><br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상
        테스트가 가능합니다. <br>(요청 헤더에 인증 토큰을 입력하여 테스트하지 않습니다)
      operationId: "[deleteAccount] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[deleteAccount] 조회된 사용자 정보 없음':
                  value: |-
                    {
                      "httpStatus" : 404,
                      "message" : "NOT_FOUND",
                      "data" : {
                        "errorCode" : 2001,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[deleteAccount] 유효하지 않은 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 3001,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] delete-account"
              examples:
                '[deleteAccount] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "id" : 10,
                        "result" : "Y"
                      }
                    }
  /auth:
    put:
      tags:
      - Token
      summary: 인증 토큰 갱신 API
      description: 리프래시 토큰으로 인증 토큰을 갱신하는 API 입니다. <br> 리프레시 토큰을 발급받은 기기와 다른 기기에서 시도하거나
        리프레시토큰이 만료된 경우 갱신에 실패합니다.
      operationId: "[refresh-token] "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] refresh-token"
            examples:
              '[refresh-token] success':
                value: |-
                  {
                    "refreshToken" : "valid-refresh-token"
                  }
              '[refresh-token] 리프레시 토큰 미입력':
                value: |-
                  {
                    "refreshToken" : ""
                  }
              '[refresh-token] 유효하지 않은 리프레시 토큰 입력':
                value: |-
                  {
                    "refreshToken" : "invalid-refresh-token"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] register-token"
              examples:
                '[refresh-token] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "accessToken" : "new-access-token",
                        "refreshToken" : "new-refresh-token"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[refresh-token] 리프레시 토큰 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "리프레시 토큰은 필수값 입니다."
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[refresh-token] 유효하지 않은 리프레시 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 3002,
                        "errorMessage" : "유효한 리프레시 토큰이 아닙니다"
                      }
                    }
    post:
      tags:
      - Token
      summary: 인증 토큰 발급 API
      description: 이메일과 비밀번호로 인증 토큰을 발급하는 API 입니다. <br>인증토큰 유효기간은 10분 이며 리프레시 토큰 유효기간은
        3일 입니다.
      operationId: "[register-token] "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] register-token"
            examples:
              '[register-token] 조회된 사용자 정보 없음':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1111111"
                  }
              '[register-token] success':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : "1234"
                  }
              '[register-token] 이메일 미입력':
                value: |-
                  {
                    "email" : "",
                    "password" : "1234"
                  }
              '[register-token] 비밀번호 미입력':
                value: |-
                  {
                    "email" : "test@gmail.com",
                    "password" : ""
                  }
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[register-token] 조회된 사용자 정보 없음':
                  value: |-
                    {
                      "httpStatus" : 404,
                      "message" : "NOT_FOUND",
                      "data" : {
                        "errorCode" : 2001,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] register-token"
              examples:
                '[register-token] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "accessToken" : "Bearer testAccessToken",
                        "refreshToken" : "Bearer testRefreshToken"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[register-token] 이메일 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "이메일은 필수값 입니다."
                      }
                    }
                '[register-token] 비밀번호 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "비밀번호는 필수값 입니다."
                      }
                    }
    delete:
      tags:
      - Token
      summary: 토큰 삭제 API
      description: 리프레시 토큰을 삭제하는 API 입니다. <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상
        테스트가 가능합니다. <br>(요청 헤더에 인증 토큰을 입력하여 테스트하지 않습니다)
      operationId: "[deleteToken] success"
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: test-access-token
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] delete-token"
              examples:
                '[deleteToken] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : "Y"
                      }
                    }
components:
  schemas:
    '[request] refresh-token':
      title: "[request] refresh-token"
      required:
      - refreshToken
      type: object
      properties:
        refreshToken:
          type: string
          description: 리프레시 토큰
    '[response] find-account-info':
      title: "[response] find-account-info"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - address
          - email
          - id
          - regDate
          - roles
          - userTel
          - username
          type: object
          properties:
            address:
              type: string
              description: 사용자 주소
            roles:
              type: array
              description: 사용자 권한
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
            regDate:
              type: string
              description: 등록일
            userTel:
              type: string
              description: 사용자 전화번호
            id:
              type: number
              description: 사용자 아이디
            email:
              type: string
              description: 사용자 이메일
            username:
              type: string
              description: 사용자 이름
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[request] update-account':
      title: "[request] update-account"
      required:
      - password
      - passwordCheck
      - username
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
        address:
          type: string
          description: 주소 (100)
          nullable: true
        passwordCheck:
          type: string
          description: 비밀번호 확인
        userTel:
          type: string
          description: 전화번호 (01012341234 패턴)
          nullable: true
        username:
          type: string
          description: 사용자 이름
    '[response] update-account':
      title: "[response] update-account"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - updateList
          - updateYn
          type: object
          properties:
            updateYn:
              type: string
              description: "업데이트 유무 (Y, N)"
            updateList:
              type: array
              description: 업데이트 목록
              items:
                oneOf:
                - type: object
                - type: boolean
                - type: string
                - type: number
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[request] register-token':
      title: "[request] register-token"
      required:
      - email
      - password
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
        email:
          type: string
          description: 이메일
    '[response] delete-token':
      title: "[response] delete-token"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - result
          type: object
          properties:
            result:
              type: string
              description: 결과
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[request] register-account':
      title: "[request] register-account"
      required:
      - email
      - password
      - passwordCheck
      - roles
      type: object
      properties:
        password:
          type: string
          description: 비밀번호
        address:
          type: string
          description: 주소 (100자 미만)
          nullable: true
        passwordCheck:
          type: string
          description: 비밀번호 확인
        roles:
          description: "권한 (ROLE_CUSTOMER, ROLE_SELLER)"
          oneOf:
          - type: array
            items:
              oneOf:
              - type: object
              - type: boolean
              - type: string
              - type: number
          - null
        userTel:
          type: string
          description: 전화번호 (01012341234 패턴)
          nullable: true
        email:
          type: string
          description: 이메일 (50자 미만)
        username:
          type: string
          description: 이름 (10자 미만)
          nullable: true
    '[response] register-account':
      title: "[response] register-account"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - accessToken
          - refreshToken
          type: object
          properties:
            accessToken:
              type: string
              description: 액세스 토큰
            refreshToken:
              type: string
              description: 리프레시 토큰
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[response] register-token':
      title: "[response] register-token"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - accessToken
          - refreshToken
          type: object
          properties:
            accessToken:
              type: string
              description: 액세스 토큰
            refreshToken:
              type: string
              description: 리프레시 토큰
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[response] error':
      title: "[response] error"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - errorCode
          - errorMessage
          type: object
          properties:
            errorMessage:
              type: string
              description: 에러 메시지
            errorCode:
              type: number
              description: 에러 코드
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지
    '[response] delete-account':
      title: "[response] delete-account"
      required:
      - data
      - httpStatus
      - message
      type: object
      properties:
        data:
          required:
          - id
          - result
          type: object
          properties:
            result:
              type: string
              description: 삭제 유무
            id:
              type: number
              description: 사용자 아이디
          description: 응답 데이터
        httpStatus:
          type: number
          description: 상태 코드
        message:
          type: string
          description: 상태 메시지

  securitySchemes:
    APIKey:
      type: apiKey
      name: Authorization
      in: header
security:
  - APIKey: []