name: od-shop

on:
  push:
    branches:
      - master
    paths:
      - 'account/**'

jobs:
  ################### module check ###################
  module-check:
    runs-on: ubuntu-latest
    outputs:
      account_api_changed: ${{ steps.check-account.outputs.changed }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check Account API Changes
        id: check-account
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^account/'; then
            echo "changed=true" >> $GITHUB_OUTPUT  
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

  ################### [CI] account-api ###################
  ci-account-api:
    needs: module-check
    if: needs.module-check.outputs.account_api_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Build Account API
        run: |
          cd account
          ./gradlew clean build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Image Tag
        run: echo "IMAGE_TAG=$(TZ=Asia/Seoul date +'%Y%m%d%H%M')" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        run: |
          cd account
          docker buildx build --platform linux/amd64 -t akkessun/account-api:${IMAGE_TAG} .
          docker push akkessun/account-api:${IMAGE_TAG}
